@charset "UTF-8";
/*https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@500&display=swap');

body{
    /*
    background-image: url("iron.jpeg");*/
    background-color: #dddddd;
    color: black;
    font-family: 'Open Sans', sans-serif;
    
}
/*valores da margem em sentido horário (cima, direita, baixo, esquerda)*/
/*box shadow: desloc. hori., desloc. vertical, espalhamento */
div#interface {
    width: 90%;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
    box-sizing: border-box;
}

p{
    text-align:justify;
    text-indent: 50px;
    /*color: hsla(48, 100%, 93%, 1);*/
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header#cabecalho img#icone{
    position: absolute;
    left: 81%;
    top:70px;
}

header#cabecalho h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30pt;
    color: #606060;
    /*text-shadow: 1px 1px 1px rgba(0,0,0, .6);*/
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

/* largura da borda, cor da borda, formato*/
header#cabecalho {
    border-bottom: 1px #606060 dashed;
    height: 140px;
    background: url("../imagens/glass-logo-peq.jpg") no-repeat 0px 90px;
}
/* Imagens com legendas */

figure.foto-legenda {
    position: relative;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 4px black;
    margin: auto;
    width: 90%;
    
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;

}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    transition: opacity 1s;
}
/* Ao passar o mouse, se torna visível */
figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* Formatação do menu*/

nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: 7%;
    
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color:black;
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
    text-decoration: underline;
}

section#corpo {
    display: block;
    width: 57%;
    float: left;
    border-right: 1px #606060 dashed;
    padding-right: 24px;
    padding-left: 18px;

}

article#principal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#artigo h1{
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: white;
    margin: 0px;
}

header#artigo h3{
    font-size: 12pt;
    color: #606060;
}

header#artigo h3.dir{
    text-align: right;
}

table#espec {
    border-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

table#espec td{
    padding: 10px;
}

table#espec td.esq {
    color: white;
    text-align: right;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#espec td.dir {
    text-align: left;
    background: #cecece;
}

table#espec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#espec caption span {
    display: block;
    float: right;
    font: black;
    font-size: 8pt;
    margin-top: 10px;
}

video#video-abertura {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

aside#lateral {
    display: block;
    width: 36%;
    float: right;
    background-color: #dddddd;
    padding: 30px 10px 10px 10px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 4px;
}

aside#lateral h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2 {
    background-color: #606060;
    color: white;
    font-size: 13pt;
    padding: 5px;
}

video#video-recente{
    width: 100%;
    margin-top: -15px;
}

footer#rodape {
    clear: both;
    border-top: 1px #606060 dashed;
    height: 100px;
}

footer#rodape p{
    text-align: center;
    text-indent: 0px;
}